SECRET_KEY = "CHANGE-ME"

# Simple JWT secret key
SECRET_KEY_JWT = "CHANGE-ME"

# 0 FALSE, 1 TRUE
DEBUG="1"

# Comma Separated Values
ALLOWED_HOSTS = "CHANGE-ME"

DB_ENGINE="CHANGE-ME"
MYSQL_DB="CHANGE-ME"
MYSQL_USER="CHANGE-ME"
MYSQL_PASSWORD="CHANGE-ME"
MYSQL_HOST="CHANGE-ME"
MYSQL_PORT="CHANGE-ME"